{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block main %}
<style type="text/css">
  label{
    color: white;
  }
</style>




<section class="cover fullscreen image-bg overlay">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="{% static 'img/DSCF7688.JPG' %}" />
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                <div class="feature bordered text-center">
                <h4 class="uppercase">{% trans "Sign In" %}</h1>

                  {% get_providers as socialaccount_providers %}

                  {% if socialaccount_providers %}

                  <div class="socialaccount_ballot">

                    <ul class="socialaccount_providers">
                      <span class="mb0">with:
                                </span>{% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>

                    <p class="mb0">{% trans 'or' %}</p>

                  </div>

                   {% include "socialaccount/snippets/login_extra.html" %}

                  {% else %}
                  <p>{% blocktrans %}If you have not created an account yet, then please
                  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                  {% endif %}
                  <form class="text-left" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a class=" mb0 button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                  </form>  
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}

