
 <nav class="navbar navbar-menu" role="navigation">

    <!-- Collect the nav links, forms, and other content for toggling -->

      <div class="navbar-main-container">
        <ul class="nav navbar-nav navbar-main" id="main-nav">
            <li class="navbar-item">
                <a href="/learn/" class="active"><span class="icon-arrow-right"><small>Perencanaan Sistem</small></span></a>
            </li>
            <li class="navbar-item">
                <a href="/participate/"><span class="icon-arrow-right"><small>Manajemen Belanja</small></span></a>
            </li>
            <li class="navbar-item">
                <a href="/share/"><span class="icon-arrow-right"><small>Realisasi Sistem</small></span></a>
            </li>
            <li class="navbar-item">
                <a href="/share/"><span class="icon-arrow-right"><small>Pengoperasian Sistem</small></span></a>
            </li>
            <li class="navbar-item">
                <a><span class="icon-arrow-right"><small>Pemeliharaan Sistem</small></span></a>
            </li>
        </ul>
    </div>
  </nav>

