{% load blog_tags keyword_tags mezzanine_tags i18n %}

<div class="col-md-3 col-md-pull-9 hidden-sm">						
	<!--end of widget-->
	<div class="widget">
		<h6 class="title">Search</h6>
		<hr>
		<form>
			<input class="mb0" type="text" placeholder="Type Here" />
		</form>
	</div>
	<!--end of widget-->

	<div class="widget">
		{% block blog_recent_posts %}
			{% blog_recent_posts 5 as recent_posts %}
			{% if recent_posts %}				
				<h6 class="title">{% trans "Recent Posts" %}</h6>
				<hr>
				<ul class="list-unstyled recent-posts">
					{% for recent_post in recent_posts %}
					<li>
						{% spaceless %}
						<a href="{{ recent_post.get_absolute_url }}">							
							{{ recent_post.title }}
						</a>
						{% endspaceless %}
					</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endblock %}		
		<hr>		
	</div>                            
	
	<!--end of widget-->

	<div class="widget">
		<h6 class="title">Blog Categories</h6>
		<hr>
		{% block blog_categories %}
			{% blog_categories as categories %}
			{% if categories %}
				<h3>{% trans "Categories" %}</h3>
				<ul class="link-list">
					{% for category in categories %}
						<li><a href="{% url 'blog_post_list_category' category.slug %}">
							{{ category }}</a> ({{ category.post_count }})</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endblock %}		
	</div>
	<!--end of widget-->								
</div>
