<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles blog_tags keyword_tags i18n %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
<link href="{% static 'css/bootstrap-foundry.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/themify-icons.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/ytplayer.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}" class="scroll-assist">

	<div class="nav-container">
            <a id="top"></a>
            <nav>
                
                <div class="nav-bar">
                    <div class="module left">
                        <a href="index.html">
                            
                            <img class="logo logo-dark" alt="Foundry" src="{% static 'img/Logo Bepy hitam.jpg' %}" />
                        </a>
                    </div>
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group right">
                        <div class="module left">
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        All Categories
                                    </a>
                                </li>
                                {% block blog_categories %}
									{% blog_categories as categories %}
									{% if categories %}
										{% for category in categories %}
										<li>
											<a href="{% url 'blog_post_list_category' category.slug %}">
												{{ category }}
											</a>
										</li>
										{% endfor %}
									{% endif %}
								{% endblock %}                               
                                
                            </ul>
                        </div>
                        <!--end of menu module-->
                        
                    <!--end of module group-->
                </div>
            </nav>
        </div>
        <div class="main-container">
			{% block main %}{% endblock %}
            <footer class="footer-1 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <img alt="Logo" class="logo" src="{% static 'img/Logo master Bepy Black n white_.png' %}" />
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Recent Posts</h6>
                                <hr>
                                <ul class="link-list recent-posts">
                                    <li>
                                        <a href="#">Hugging pugs is super trendy</a>
                                        <span class="date">February
                                            <span class="number">14, 2015</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">Spinning vinyl is oh so cool</a>
                                        <span class="date">February
                                            <span class="number">9, 2015</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#">Superior theme design by pros</a>
                                        <span class="date">January
                                            <span class="number">27, 2015</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Latest Updates</h6>
                                <hr>
                                <div class="twitter-feed">
                                    <div class="tweets-feed" data-feed-name="mrareweb">
                                    </div>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget">
                                <h6 class="title">Instagram</h6>
                                <hr>
                                <div class="instafeed" data-user-name="mrareweb">
                                    <ul></ul>
                                </div>
                            </div>
                            <!--end of widget-->
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="sub">&copy; Copyright 2016 - Medium Rare</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <ul class="list-inline social-list">
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-vimeo-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of container-->
                <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
            </footer>
        </div>





<!----sudah 
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">{% trans "Toggle Navigation" %}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% block navbar_title %}
				{% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
				{% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
				{% endblock%}
			</div>
			<div class="navbar-collapse collapse">
				{% block navbar_search_form %}{% search_form "all" %}{% endblock %}
				{% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown.html" %}{% endblock%}
			</div>
		</div>
	</div>
	
	<div class="container">
		{% nevercache %}
		{% if messages %}
		<div class="messages">
			{% for message in messages %}
			<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ message }}
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% endnevercache %}
		<h1>{% block title %}{% endblock %}</h1>
		<ul class="breadcrumb">
			{% spaceless %}
			{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
			{% endspaceless %}
		</ul>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-2 left">
				{% block left_panel %}
				<div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
				{% endblock %}
				</div>
				<div class="col-md-7 middle">
					{# block main #}{# endblock #}
				</div>
				<div class="col-md-3 right">
					{% nevercache %}
					{% include "includes/language_selector.html" %}
					{% include "includes/user_panel.html" %}
					{% endnevercache %}
					<div class="panel panel-default">
						<div class="panel-body">
							{% block right_panel %}
							{% ifinstalled mezzanine.twitter %}
							{% include "twitter/tweets.html" %}
							{% endifinstalled %}
							{% endblock %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			{% page_menu "pages/menus/footer.html" %}

			<div class="row">
				<p class="site-info text-center">
					{% trans "Powered by" %}
					<a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
					<a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
					{% trans "and" %}
					<a href="http://www.djangoproject.com">Django</a>
					<span class="separator">|</span>
					{% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
					{% ifinstalled mezzanine.mobile %}
					<span class="separator">|</span>
					<a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
					{% endifinstalled %}
				</p>
			</div>
		</div>
	</footer>
-->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/flickr.js' %}"></script>
	<script src="{% static 'js/flexslider.min.js' %}"></script>
	<script src="{% static 'js/lightbox.min.js' %}"></script>
	<script src="{% static 'js/masonry.min.js' %}"></script>
	<script src="{% static 'js/twitterfetcher.min.js' %}"></script>

	<script src="{% static 'js/ytplayer.min.js' %}"></script>
	<script src="{% static 'js/countdown.min.js' %}"></script>
	<script src="{% static 'js/smooth-scroll.min.js' %}"></script>
	<script src="{% static 'js/parallax.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>
