{% extends "base_tata_kelola.html" %}
{# extends "account/base.html" #}
{% load comments %}
{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block breadcrumb_menu %}
    <a>Home</a> / <a>Notifikasi</a>
{% endblock %}
{% block main %}
<h1>{% trans "Notifikasi" %}</h1>
    <p><a href="/comment_filter/notifications_mark_all_as_read/"><span class="glyphicon glyphicon-ok"> </span> Mark all as read</a></p>
    {% for notif in notifs %}
        <div class="alert alert-success" role="alert">
            <p>{{notif.actor.comment_ptr.user_name}} was  <a href="{% get_comment_permalink notif.actor  %}">replied</a> on your comment ({{notif.timesince}}) ago</p>
        </div>
    {% endfor %}



{% endblock %}

